/* base for rem is 10px - don't change because bootstrap relies on this probably */
$mobile: 0;
$small: 48rem;
$medium: 62rem;
$large: 75rem;
$extra: 101.3rem;

body {
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    font-family: Segoe UI, sans-serif;
}

h1 {
    font-weight: lighter;
    font-size: 3.75rem;
}

h3 {
    font-weight: lighter;
    font-size: 3rem;
}

p {
    font-weight: normal;
    font-size: 1.31rem
}

button.btn.btn-default.btn-lg {
    font-weight: normal;
    font-size: 1.31rem
}
